<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HB blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href ="../css/main.css">
  </head>
  <body>
  <div id = "container">
    <py-script>
      import serial
    </py-script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Hiddenbebb</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
            <div class="navbar-nav">
              <a class="nav-link active navbar-brand" aria-current="page" href="{% url 'home' %}">Home</a>

              <li class="nav-item">
                <a class="nav-link nav-brand" href="{%url 'logout'%}">Logout</a>
              </li>
            </div>
          </div>
        </div>
      </nav>

    <p></p>
    <h1 style="margin-left: 10%;">스마트팜</h1>
    <main>
      <article class = "temhum">
        <a>온습도 DHT</a>
        <input placeholder="Search">
        <button>확인</button>
      </article>

      <article class = "waterheight">
        <div>
          <a>수위1</a>
          <input placeholder="Search">
          <button>확인</button>
        </div>
        <div>
          <a>수위2</a>
          <input placeholder="Search">
          <button>확인</button>
        </div>
      </article>

      <article class = "watertem">
        <div>
          <a>수온1</a>
          <input placeholder="Search">
          <button>확인</button>
        </div>
        <div>
          <a>수온2</a>
          <input placeholder="Search">
          <button>확인</button>
        </div>
      </article>

      <article class = "plantfood">
        <div>
          <a>양액농도</a>
          <input placeholder="Search">
          <button>확인</button>
        </div>
      </article>

      <article class = "relay">
        <div>
          <input type="checkbox" checked>
          <label>수류모터</label>
        </div>
        <div>
          <input type="checkbox">
          <label>양액모터</label>
        </div>
        <div>
          <input type="checkbox" checked>
          <label>LED1</label>
        </div>
        <div>
          <input type="checkbox" checked>
          <label>LED2</label>
        </div>
      </article>
    </main>
  </div>
  <footer>
    <p>This is personal smartfarm controller.</p>
    <p>
      <a>cbj4133@naver.com</a>
      <a>010-5859-4133</a>
    </p>
  </footer>
</div>
</body>
</html>