<!DOCTYPE html>
<html>
<head>
    <title>Water Level</title>
</head>
<body>
    <h1>Current Water Level: <span id="waterLevel">N/A</span></h1>
    <button id="refreshButton">Refresh</button>

    <script>
        // JavaScript 코드
        document.getElementById('refreshButton').addEventListener('click', function() {
            fetchWaterLevel();
        });

        function fetchWaterLevel() {
            fetch('/getWaterLevel/')  // 해당 URL로 요청을 보냄
                .then(response => response.text())
                .then(data => {
                    document.getElementById('waterLevel').textContent = data;
                })
                .catch(error => {
                    console.error('Error fetching water level:', error);
                });
        }

        // 초기 페이지 로딩 시에도 수위 값을 가져와서 표시
        fetchWaterLevel();
    </script>
</body>
</html>
